@import "@blueprintjs/core/lib/scss/variables";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: 0 none !important;
}

html {
  box-sizing: border-box;
  font-size: 75.5%;
}

body {
  padding-top: $pt-navbar-height;
}

html,
body,
#root {
  background: #111D27;
  color: aliceblue;
  position: relative;
  font-family: 'Hackman', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  width: 100vw;
  min-width: 600px;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
}

.bp3-drawer-header {
  justify-content: center;

  .bp3-button {
    width: 30%;
  }
}

.bp3-drawer-body {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.filepond--wrapper {
  flex: 1;
  margin-right: 3rem;
}
